.primary {

  .wrap-primary__text {
    max-width: 41.2rem;
    padding: 1.8rem 0 0 1.7rem;
  }
  .howToUse-primary__title{
    .arrows{
      position: relative;

      .first-arrow{
        position: absolute;
        left: 1.3rem;
        top: -2.9rem;
      }

      .second-arrow{
        position: absolute;
        right: 2rem;
        top: -2.9rem;
      }
    }
  }
}

.news {
  padding-bottom: 10.3rem;

  &__title {
    margin-bottom: 6rem;
  }

  &__card-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.4rem;
  }

  &__card-wrap:last-child {
    margin-bottom: 0;
  }

  &__card {
    padding: 2.1rem 1.8rem 1.4rem 1.9rem;
    text-align: center;
    max-width: 33.1rem;
    background-color: #fff;
    border-radius: 19.5px;
  }

  &__illustration {
    margin-bottom: 1.3rem;
  }

  &__card-info {
    margin-left: 1.3rem;
    text-align: left;

  }

  &__card-title {
    text-align: left;
    font-family: Lato;
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 1.7rem;
    text-transform: uppercase;
  }

  &__card-text {
    font-family: 'GillSans';
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  &__card-btn {
    margin-left: -1.1rem;
    cursor: pointer;
    border-radius: 28px;
    padding: 1rem 1.1rem;
    background-color: #fff;
    text-align: center;
    max-width: 10rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    a {
      color: var(--main-blue);
      font-size: 1.6rem;
    }
  }

  &__card-btn:hover {
    background-color: rgba(25, 80, 219, 0.1)
  }

  &__paginator-wrap {
    position: relative;
    margin-top: 7.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-left{
    cursor: pointer;
    position: absolute;
    height: 17px;
    left: 37rem;
  }

  .arrow-right{
    cursor: pointer;
    position: absolute;
    height: 17px;
    right: 40rem;
  }

  &__paginator {
    display: flex;
    align-items: center;

    li {
      cursor: pointer;
      font-size: 2.3rem;
      font-weight: 700;
      margin-right: 3rem;
    }


    li.active{
      width: 5.1rem;
      background-color: var(--main-blue);
      border-radius: 28px;
      text-align: center;
      color: #fff;
      padding: .7rem 0;
      -webkit-transition: all 0.3s ease 0s;
      transition: background-color 0.3s ease 0s;
    }
  }
}

