<div class="page">
  <div class="create">
    <div class="create__content _container">
      <div [formGroup]="CreateCaseForm" class="create__wrap">
        <h2 class="create__title title">создание кейса</h2>
        <!-- the nich -->
        <div>
          <label for="" class="create_case_label">Какая была ниша?</label>

          <ng-select
            [items]="nich"
            class="create__input"
            placeholder="Какая была ниша?"
            bindLabel="name"
            dropdownPosition="auto"
            [virtualScroll]="true"
            [clearable]="false"
            bindValue="id"
            formControlName="nichaCategoryId"
          >
          </ng-select>
          <!-- <input
            type="text"
            class="create__input"
            placeholder="Какая была ниша?"
            formControlName="nichaCategoryId"
            required
          /> -->
        </div>
        <!-- case name -->
        <div>
          <label for="" class="create_case_label">Название кейса</label>
          <input
            type="text"
            class="create__input"
            placeholder="Рекламная кампания для салона красоты"
            formControlName="name"
            required
          />
        </div>
        <!-- company objective -->
        <div>
          <label for="" class="create_case_label">Цель кампании</label>
          <input
            type="text"
            class="create__input"
            placeholder="Получение лидов, заказов."
            formControlName="aim"
            required
          />
        </div>
        <!-- the budget -->
        <div>
          <label for="" class="create_case_label">Какой был бюджет?</label>
          <input
            type="text"
            class="create__input"
            placeholder="2000 руб на тестовую и 30.000 руб на основную РК (просто текстовое описание)"
          />
        </div>
        <!-- cost per click -->
        <div>
          <label for="" class="create_case_label"
            >Какая вышла цена за клик? (CPC)</label
          >
          <input
            type="text"
            class="create__input"
            placeholder="25 руб"
            formControlName="cpc"
            required
          />
        </div>
        <!-- CTR -->
        <div>
          <label for="" class="create_case_label"
            >Какой вышел показатель кликабельности? (CTR)</label
          >
          <input
            type="text"
            class="create__input"
            placeholder="0,2%"
            formControlName="ctr"
            required
          />
        </div>
        <!-- ROMI -->
        <div>
          <label for="" class="create_case_label"
            >Какая рентабельность инвестиций в маркетинг? (ROMI)</label
          >
          <input
            type="text"
            class="create__input"
            placeholder="120%"
            formControlName="romi"
            required
          />
        </div>
        <!-- begining of work -->
        <div formGroupName="indicatorStart">
          <label for="" class="create_case_label"
            >Какие показатели проекта до начала работы?</label
          >
          <input
            type="text"
            class="create__input"
            placeholder="Заявки в день"
            formControlName="dailyBid"
            required
          />
          <input
            type="text"
            class="create__input"
            placeholder="Подписчики"
            formControlName="subscribers"
            required
          />
          <input
            type="text"
            class="create__input"
            placeholder="Выручка в день"
            formControlName="dailyEarnings"
            required
          />
        </div>

        <!-- after work  -->
        <div formGroupName="indicatorEnd">
          <label for="" class="create_case_label"
            >Какие показатели проекта после вашей работы?</label
          >
          <input
            type="text"
            class="create__input"
            placeholder="Заявки в день"
            formControlName="dailyBid"
            required
          />
          <input
            type="text"
            class="create__input"
            placeholder="Подписчики"
            formControlName="subscribers"
            required
          />
          <input
            type="text"
            class="create__input"
            placeholder="Выручка в день"
            formControlName="dailyEarnings"
            required
          />
        </div>
        <!-- steps PK -->
        <div>
          <div
            formArrayName="steps"
            *ngFor="
              let stepitem of CreateCaseForm.get('steps').controls;
              let i = index
            "
          >
            <ng-container [formGroupName]="i">
              <label for="" class="create_case_label"
                >Какие были шаги в настройке РК?</label
              >

              <div class="card_steps_add">
                <div class="remove_step_btn" (click)="deletesteps()">
                  <i class="fa fa-minus"></i>
                </div>
                <div class="step_title">
                  <label>Шаг 1</label>
                  <input
                    type="text"
                    class=""
                    placeholder="Анализ"
                    formControlName="num"
                  />
                </div>
                <input
                  type="text"
                  class="create__input"
                  placeholder="текст"
                  formControlName="title"
                />
                <textarea
                  type="text"
                  class="text_area create__input"
                  placeholder="Описание "
                  formControlName="description"
                ></textarea>

                <div
                  formArrayName="substeps"
                  *ngFor="
                    let _ of stepitem['controls'].substeps['controls'];
                    let j = index
                  "
                >
                  <ng-container [formGroupName]="j">
                    <div class="substeps_with_icon">
                      <div class="substep_input">
                        <input
                          type="text"
                          class="create__input"
                          placeholder="текст"
                          formControlName="title"
                        />
                        <textarea
                          type="text"
                          class="text_area create__input"
                          placeholder="Описание "
                          formControlName="actions"
                        ></textarea>
                      </div>

                      <button
                        class="btn_substep_remove"
                        (click)="deletesubsteps(stepitem)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </ng-container>
                </div>
                <!-- add substep -->
                <button class="add_step_btn" (click)="addsubsteps(stepitem)">
                  <div class="btn_icon">
                    <img [src]="consts.plus_icon" alt="" />
                    <label>Добавить новый подшаг</label>
                  </div>
                </button>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- add new step btn -->
        <div class="new_step_btn">
          <button class="add_step_btn" (click)="addsteps()">
            <div class="btn_icon">
              <img [src]="consts.plus_icon" alt="" />
              <label>Добавить новый шаг</label>
            </div>
          </button>
        </div>
        <br />
        <!-- file input   -->
        <div>
          <label for="" class="create_case_label"
            >Детальная схема проекта</label
          >
          <input
            type="file"
            class="file_input"
            placeholder="Добавить файл.pdf"
            accept="application/pdf, application/vnd.ms-excel"
            (change)="handleFileInput($event.target.files)"
          />
        </div>
        <br />
        <!-- instagram account examples -->
        <div formArrayName="instagramCompanies">
          <ng-container
            *ngFor="
              let _ of CreateCaseForm['controls'].instagramCompanies[
                'controls'
              ];
              let i = index
            "
          >
            <div style="margin-top: 25px" [formGroupName]="i">
              <label for="" class="create_case_label"
                >Примеры инстаграм-аккаунтов</label
              >
              <div class="card_steps_add">
                <input
                  type="text"
                  class="create__input"
                  placeholder="@ название аккаунта компании"
                  formControlName="name"
                />
                <input
                  type="text"
                  class="create__input"
                  placeholder="Ссылка на аккаунт компании"
                  formControlName="link"
                />
              </div>
            </div>
          </ng-container>
        </div>
        <!-- add new account btn -->
        <div class="new_step_btn" (click)="addinstagram()">
          <button class="add_step_btn">
            <div class="btn_icon">
              <img [src]="consts.plus_icon" alt="" />
              <label>Добавить новый аккаунт</label>
            </div>
          </button>
        </div>
        <br />
        <!-- creative file input   -->
        <div
          formGroupName="creatives"
          *ngFor="
            let item of CreateCaseForm.get('creatives').controls;
            let i = index
          "
        >
          <ng-container [formGroupName]="i">
            <label for="" class="create_case_label">Примеры креативов</label>
            <input
              type="text"
              class="create__input file_input"
              placeholder="Добавить файлы"
              formControlName="picture"
            />
          </ng-container>
        </div>
        <!--pictures examples  -->
        <div class="creative_pictures">
          <div
            *ngFor="let item of exampleImge; let i = index"
            class="creative_for"
          >
            <div class="creative_pictures_examples">
              <img [src]="item" alt="" />
              <div class="creative_icon" (click)="removeExampleImg(i)">
                <i class="fa fa-times"></i>
              </div>
            </div>
          </div>
        </div>
        <br />
        <!-- comments -->
        <input
          type="text"
          class="create__input"
          placeholder="Комментарий к креативам"
        />
        <br />
        <!-- social media input   -->
        <div>
          <label for="" class="create_case_label">Примеры креативов</label>
          <div class="social_media_icon">
            <img [src]="consts.telegram" alt="" />
            <input type="text" class="create__input" placeholder="Telegram" />
          </div>
          <div class="social_media_icon">
            <img [src]="consts.instagram" alt="" />
            <input type="text" class="create__input" placeholder="Telegram" />
          </div>
          <div class="social_media_icon">
            <img [src]="consts.vk" alt="" />
            <input type="text" class="create__input" placeholder="Telegram" />
          </div>
          <div class="social_media_icon">
            <img [src]="consts.tiktok" alt="" />
            <input type="text" class="create__input" placeholder="Telegram" />
          </div>
          <div class="social_media_icon">
            <img [src]="consts.youtube" alt="" />
            <input type="text" class="create__input" placeholder="Telegram" />
          </div>
          <div class="social_media_icon">
            <img [src]="consts.whatssap" alt="" />
            <input type="text" class="create__input" placeholder="Telegram" />
          </div>
          <div class="social_media_icon">
            <img [src]="consts.call" alt="" />
            <input type="text" class="create__input" placeholder="Telegram" />
          </div>
        </div>
        <br />
        <!-- submit -->
        <div class="create__btn">
          <button type="submit" class="btn">
            Выбрать шаблон и опубликовать
          </button>
        </div>

        <a href="index.html" class="create__close">
          <img [src]="consts.close_big" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
