<main class="page">
  <section class="create">
    <div class="create__content _container">
      <div class="create__wrap">
        <h2 class="create__title title">
          создание кейса
        </h2>

        <input type="text" class="create__input" placeholder="Какая была ниша?">
        <input type="text" class="create__input" placeholder="Какова цель компании?">
        <input type="text" class="create__input" placeholder="Какие были шаги в настройке РК?">
        <input type="text" class="create__input" placeholder="Какой был бюджет?">
        <input type="text" class="create__input" placeholder="Сколько вышла цена за клик?">
        <input type="text" class="create__input" placeholder="Каким был показатель CTR?">
        <input type="text" class="create__input" placeholder="Доволен ли клиент результатом? ">
        <input type="text" class="create__input" placeholder="Ссылка на аккаунт">
        <div class="create__btn">
          <button type="submit" class="btn">
            Выбрать шаблон и опубликовать
          </button>
        </div>

        <a href="index.html" class="create__close">
          <img src="img/close-big.svg" alt="">
        </a>
      </div>
    </div>
  </section>
</main>
