.registration{

  .welcome__input{
    margin-bottom: 3.1rem;

    input[type=password]{
      margin-bottom: 1.8rem;
    }
  }

  .welcome__btn-mini {
    button {
      margin-bottom: 3.2rem;
    }
  }

}
