<!-- <div class="cases">
  <div class="cases__content _container">
    <div class="cases__search">
      <input class="cases__search-input">


      <div class="cases__search-close">
        <img src="img/close.svg" alt="">
      </div>
      <div class="cases__search-btn">

        Поиск
      </div>
    </div>
    <div class="cases__inner inner-cases">
      <div class="inner-cases__item" *ngFor="let item of cases">
        <div class="inner-cases__img">

        </div>
        <h2 class="inner-cases__title title">
          <img [src]="consts.pictureNicheDefault" alt="">
          Ниша
        </h2>
        <div class="inner-cases__text">
          Краткое описание краткое описание краткое описание краткое описание
        </div>
      </div>


    </div>
  </div>
</div>
 -->

<div class="cases">
  <div class="case_content_user">
    <!-- category -->
    <div class="case_category">
      Ниша: одежда,
      <div class="category">( категория )</div>
      свадебные платья
    </div>
    <!-- user -->
    <div class="case_user_icon">
      <div class="case_username">Имя юзера</div>
      <img [src]="consts.usericon" alt="" />
    </div>
  </div>
  <!-- title -->
  <h1 class="case_title">Название кейса</h1>
  <div class="case_subtitle">
    <p>Цель кампании: Получение лидов, заказов.</p>
    <p>Бюджет: 2000 руб на тестовую и 30.000 руб на основную РК</p>
  </div>
  <!-- numbers -->
  <div class="case_numbers blank_card">
    <h4 class="card_title">ЦИФРЫ</h4>
    <div class="case_number_details">
      <div class="number_details">
        До моей работы
        <div class="details">
          <p>
            Заявки в день:
            <span>30</span>
          </p>
          <p>
            Подписчики:
            <span>4955</span>
          </p>
          <p>Выручка в день: <span>37744 р.</span></p>
        </div>
      </div>
      <div class="number_details">
        После моей работы
        <div class="details">
          <p>
            Заявки в день:
            <span>60</span>
          </p>
          <p>
            Подписчики:
            <span>7756</span>
          </p>
          <p>Выручка в день: <span>56745 р.</span></p>
        </div>
      </div>
      <div class="number_details">
        <div class="details">
          <p>
            CTR:
            <span>0,8%</span>
          </p>
          <p>
            CPC:
            <span>202 р</span>
          </p>
          <p>ROMI: <span>354%</span></p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="steps_title">шаги в настройке РК</h2>
  <!-- step 1 -->
  <div class="steps">
    <div class="blank_card">
      <h4 class="card_title">Шаг 1: Анализ</h4>
      <p class="card_steps_content">
        Анализируем целевую аудиторию, выявляем основные потребности аудитории.
        Анализируем конкурентов в пределах своего рынка.
      </p>
    </div>
  </div>
  <!-- step 2 -->
  <div class="steps">
    <div class="blank_card">
      <h4 class="card_title">Шаг 2: мультиссылка</h4>
      <p class="card_steps_content">
        В работе можно использовать сайт или мультиссылку (whatsApp,teletype),
        перед началом работы, необходимо установить на них пиксель.
      </p>
    </div>
  </div>
  <!-- step 3 -->
  <div class="steps">
    <div class="blank_card">
      <h4 class="card_title">Шаг 3: портрет ЦА</h4>
      <div class="steps_subtitle">
        Распишите портрет потенциального клиента:
      </div>

      <ul class="card_steps_content">
        <li>
          Во-первых это женщины, возможно на подарок или же на продажу хотят
          приобрести одежду
        </li>
        <li>Во-вторых - это мамы</li>
      </ul>
    </div>
  </div>

  <!-- step 4 -->
  <div class="steps">
    <div class="blank_card">
      <h4 class="card_title">Шаг 4: сбор аудитории</h4>
      <div class="steps_subtitle">Сбор аудитории</div>

      <ul class="card_steps_content">
        <li>
          Сбор данных с сайта (соберите аудиторию всех кто посещал сайт  и
          отдельно всех кто заполнял  форму на обращение)
        </li>
        <li>
          Если Instagram аккаунт живой и имеет достаточное количество аудитории,
          то можно собрать пользовательскую аудиторию из взаимодействий с вашим
          аккаунтом. Лучший диапазон 40-90 дней.
        </li>
        <li>
          Можно воспользоваться парсерами для сбора более целевой аудитории.
          Также если есть базы клиентов, можно их оцифровать и выгрузить их в
          рекламный кабинет.
        </li>
        <li>
          Также можно собрать похожую аудиторию на основании взаимодействий с
          вашим аккаунтом.
        </li>
      </ul>

      <hr class="break_line" />
      <div class="steps_subtitle">
        Потенциальные интересы для сохраненной аудитории:
      </div>

      <ul class="card_steps_content">
        <li>Онлайн-покупки</li>
        <li>Детская одежда</li>
        <li>Мама</li>
        <li>Новорожденные (в зависимости от возраста одежды)</li>
        <li>Детские товары</li>
        <li>Игрушки</li>
        <li>Детское питание</li>
        <li>Мамы с детьми от…(в зависимости от возраста одежды)</li>
      </ul>
    </div>
  </div>

  <!-- step 5 -->
  <div class="steps">
    <div class="blank_card">
      <h4 class="card_title">Шаг 5: Запуск рекламных компаний</h4>
      <div class="steps_subtitle">Цели для запуска:</div>
      <p class="card_steps_content">Трафик, Сообщения,Охват.</p>
      <p class="card_steps_content">
        Тестируем изначально на аудиторию взаимодействий, далее подключаем
        похожую аудиторию и тестируем на нее.
      </p>
      <hr class="break_line" />
      <!--trafic  -->
      <div class="steps_subtitle">Трафик</div>
      <ul class="card_steps_content">
        <li>
          Трафик можно использовать и для увеличения посещаемости на сайт.
        </li>
        <li>
          Также трафик можно использовать для увеличения трафика на Instagram.
          Важно чтобы ваш аккаунт закрывал боли клиента, этого можно добиться
          путем выстраивания контент-плана под рекламную компанию.
        </li>
      </ul>
      <!-- message -->
      <hr class="break_line" />

      <div class="steps_subtitle">Сообщения</div>
      <ul class="card_steps_content">
        <li>
          Эта цель работает путем прямого контакта с пользователем. Необходимо
          создать шаблон вопросов ( которые могут возникнуть у пользователя при
          взаимодействии с вашим продуктом), и соответственно закрывать все
          входящие заявки. ВАЖНО! Чтобы креатив или оффер содержал призыв к
          отправке сообщения.
        </li>
      </ul>
      <!-- Coverage -->
      <hr class="break_line" />

      <div class="steps_subtitle">Охват</div>
      <ul class="card_steps_content">
        <li>
          Эта цель служит инструментом для охвата большей аудитории, тем самым
          вы можете показать свое рекламное объявление максимальному числу
          пользователей. Креативы и офферы под цель охват, необходимо подбирать
          с призывом к действию.
        </li>
      </ul>
    </div>
  </div>

  <!-- step 6 -->
  <div class="steps">
    <div class="blank_card">
      <h4 class="card_title">Шаг 6: Бюджет</h4>
      <div class="steps_subtitle">Бюджет</div>
      <p class="card_steps_content">
        На тест используем
        <span>от 20% рекламного бюджета.</span>
        Далее работаем с бюджетом на уровне компании.
      </p>
    </div>
  </div>

  <!-- btn -->
  <div class="case_btn">
    <button class="case_detail_btn">
      <span> Детальная схема проекта</span>
    </button>
  </div>
  <!-- examples -->
  <div class="example_title">Примеры Instagram аккаунтов:</div>
  <!-- @btn -->
  <div class="social_btn case_btn">
    <button class="case_detail_btn">
      <span> @sergey.romanovich</span>
    </button>
    <button class="case_detail_btn">
      <span> @kiley.jener </span>
    </button>
  </div>
  <!-- Header -->
  <div class="example_title">заголовок Примеры креативов:</div>

  <!-- cards with image -->
  <div class="case_card_with_img">
    <div class="card_img">
      <img [src]="consts.clothes1" alt="" />
    </div>
    <div class="card_img">
      <img [src]="consts.clothes2" alt="" />
    </div>
    <div class="card_img">
      <img [src]="consts.clothes3" alt="" />
    </div>
  </div>
  <!-- description -->
  <div class="example_description">
    Лучшим вариантом креативов будут фото или кольцевая галерея, с обзором
    моделей. Акции и скидки также.
  </div>
  <!--social media Header -->
  <div class="example_title">Мои соц. сети</div>

  <!-- icons -->
  <div class="social_media">
    <div><img [src]="consts.telegramicon" alt="" /></div>
    <div><img [src]="consts.vkicon" alt="" /></div>
    <div><img [src]="consts.instagramicon" alt="" /></div>
    <div><img [src]="consts.tiktokicon" alt="" /></div>
    <div><img [src]="consts.youtubeicon" alt="" /></div>
    <div><img [src]="consts.whatssapicon" alt="" /></div>
    <div><img [src]="consts.callicon" alt="" /></div>
  </div>

  <!-- rate header-->
  <div class="example_description">Понравилась статья?</div>
  <!-- rate icon -->
  <div class="social_media">
    <div><img [src]="consts.like" alt="" /></div>
    <div><img [src]="consts.unlike" alt="" /></div>
  </div>
</div>
