<section class="nisha">
  <div class="nisha__content _container">
    <h2 class="nisha__title title">
      Маникюр
    </h2>
    <div class="nisha__subtitle title">
      Категория
    </div>

    <a href="nisha__manicur.html" class="nisha__inner inner-news">
      <div class="inner-nisha__item">
        <div class="inner-nisha__img">
          <img src="assets/images/manic/manic-nisha.svg" alt="">
        </div>
        <div class="inner-nisha__title title">
          Маникюрный салон
        </div>
        <div class="inner-nisha__text">

        </div>

      </div>
      <div class="inner-nisha__item">
        <div class="inner-nisha__img">
          <img src="assets/images/news-illust.svg" alt="">
        </div>
        <div class="inner-nisha__title title">
          Название кейса
        </div>
        <div class="inner-nisha__text">

        </div>

      </div>
      <div class="inner-nisha__item">
        <div class="inner-nisha__img">
          <img src="assets/images/news-illust.svg" alt="">
        </div>
        <div class="inner-nisha__title title">
          Название кейса
        </div>
        <div class="inner-nisha__text">

        </div>

      </div>
      <div class="inner-nisha__item">
        <div class="inner-nisha__img">
          <img src="assets/images/news-illust.svg" alt="">
        </div>
        <div class="inner-nisha__title title">
          Название кейса
        </div>
        <div class="inner-nisha__text">

        </div>

      </div>
      <div class="inner-nisha__item">
        <div class="inner-nisha__img">
          <img src="assets/images/news-illust.svg" alt="">
        </div>
        <div class="inner-nisha__title title">
          Название кейса
        </div>
        <div class="inner-nisha__text">

        </div>

      </div>
      <div class="inner-nisha__item">
        <div class="inner-nisha__img">
          <img src="assets/images/news-illust.svg" alt="">
        </div>
        <div class="inner-nisha__title title">
          Название кейса
        </div>
        <div class="inner-nisha__text">

        </div>

      </div>


    </a>

  </div>
</section>
